.main-title {
  position: relative;
}

.subtitle::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 44%;
  width: 150px;
  height: 4px;
  background: hsl(0, 74%, 61%);
}

.farah {
  background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);
}

.navbar {
  height: 13%;
}

.hero {
  margin-top: 90px;
}

.img {
  width: 20%;
}

.playr__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.accordian .card .card-body {
  padding: 20px;
}
.accordian .card .card-body {
  display: none;
}
.accordian .card:nth-child(1) .card-body {
  display: block;
}

.accordian .card .card-body p {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0px;
}
.contact-grid,
.contact-select__grid,
.contact-tow__grid,
.contact-one__grid {
  display: grid;
  grid-gap: 35px;
}
.contact-grid {
  grid-template-columns: repeat(4, 1fr);
}

.contact-select__grid {
  grid-template-columns: repeat(3, 1fr);
}

.contact-tow__grid {
  grid-template-columns: repeat(2, 1fr);
}

.contact-one__grid {
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 1600px) {
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
  }
}

@media (min-width: 1300px) and (max-width: 1599px) {
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
}

@media (min-width: 800px) and (max-width: 1299px) {
  .contact-grid,
  .contact-select__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
  }
}

@media (min-width: 0px) and (max-width: 799px) {
  .contact-grid,
  .contact-select__grid,
  .contact-tow__grid,
  .contact-one__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px;
  }
  .comment-box {
    grid-column: 1 / -1;
  }

  .submit-button {
    display: block;
    text-align: center;
  }
}

.contact-form {
  margin-top: 30px;
}

.form-field {
  position: relative;
}

.label {
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #000;
  cursor: text;
}

.form-control {
  border: 1px solid #f9eeee;
  height: 48px;
  padding: 0 1rem;
  width: 100%;
  background-color: rgb(247, 247, 247);
  color: rgb(85, 85, 85);
  transition: all 0.3s linear;
  margin-top: 5px;
  border-radius: 30px;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 10%);
  border: 1px solid rgb(0, 0, 0);
}

::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgb(238, 235, 235);
}
.submit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}
.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  padding: 12px 30px;
  min-width: 200px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn-approv {
  background: #fff;
  color: rgb(0, 0, 0);
}

.btn-approv:hover {
  background-color: rgb(0, 0, 0) !important;
  color: #fff !important;
}

.btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.btn:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

@media (min-width: 0px) and (max-width: 599px) {
  .submit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    padding: 8px 20px;
    min-width: 160px;
  }

  .btn-approv {
    margin-left: 0;
    margin-top: 10px;
  }

  .container .accordion-container .accordion .accordion-heading h3 {
    font-size: 12px;
    font-weight: bold;
  }

  .container .accordion-container .accordion .accordion-heading i {
    font-size: 20px;
  }
}

.submit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}

.btn-left {
  order: 1;
}

.btn-right {
  order: 2;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 5px 0px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.brand img {
  height: 80px;
  width: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-two {
  margin-right: 80px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}