// // ========= Globel Style ========= //
.l-home {
  padding: rem(80) 0;
}

%genral {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   &--grey {
//     background-color: $color-secondary;
//   }

//   &--dark-grey {
//     background-color: #2a2a2a;
//   }
// }

// .l-home-bottom {
//   padding-bottom: 2.5rem;
// }

// .l-home-news {
//   background-image: url(/src/images/pattern2.jpg);
//   background-size: 50%;
//   background-repeat: no-repeat;
//   background-position-x: -10%;
//   background-position-y: top;
// }

// .l-home-statistics {
//   background-image: url(/src/images/pattern3.jpg);
//   background-size: 50%;
//   background-repeat: no-repeat;
//   background-position-x: 130%;
//   background-position-y: bottom;
// }

// .l-box {
//   display: flex;
//   flex-direction: column;
//   justify-self: center;
//   align-items: center;
//   padding: 10px;
//   background-color: $color-white;
//   border-radius: 20px;
//   box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);

//   hr {
//     width: 100%;
//     color: rgba($selection-color, 0.6);
//     margin: 4px 0;
//   }
// }

// .l-box__text {
//   font-size: rem(24);
//   margin-bottom: 1em;

//   &--primary {
//     font-weight: 500;
//     font-size: rem(30);
//     color: $color-primary;
//   }

//   &--grey {
//     color: $selection-color;
//   }
// }
